<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <title>Listing 11.4</title>
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <script src="js/angular.js"></script>
        <script>
            angular.module("exampleApp", []).controller("defaultCtrl", function ($scope) {
                $scope.todos = [{action: "Get groceries", complete: false},
                    {action: "Call plumber", complete: false},
                    {action: "Buy running shoes", complete: true},
                    {action: "Buy flowers", complete: false},
                    {action: "Call family", complete: false}
                ];
            });
        </script>
        <style>
            td> *:first-child{font-weight:bold}
        </style>
    </head>
    <body>
        <div id="todoPanel" ng-controller="defaultCtrl">
            <h3 class="page-header">To Do List</h3>
            
            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete"/>
                    Item 3 is complete
                </label>
            </div>
            
            <table class="table table-striped">
                <thead>
                <th>#</th>
                <th>Action</th>
                <th>Done</th>
                </thead>
                <tr ng-repeat="item in todos" ng-hide="item.complete">
                    <td>{{$index+1}}</td>
                    <td>{{item.action}}</td>
                    <td>{{item.complete}}</td>
                    <td>
                        <span ng-if="!item.complete">(Incomplete)</span>
                        <span ng-if="item.complete">(Done)</span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
