<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <title>Listing 11.6</title>
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <script src="js/angular.js"></script>
        <script>
            angular.module("exampleApp", []).controller("defaultCtrl", function ($scope) {
                $scope.todos = [{action: "Get groceries", complete: false},
                    {action: "Call plumber", complete: false},
                    {action: "Buy running shoes", complete: true},
                    {action: "Buy flowers", complete: false},
                    {action: "Call family", complete: false}
                ];
                $scope.buttonNames = ["Red", "Green", "Blue"];
                $scope.settings = {Rows:"Red",Columns:"Green"};
            });

        </script>
        <style>
           tr.Red{background-color: lightcoral;}
           tr.Green{background-color: lightgreen;}
           tr.Blue{background-color: lightblue;}
        </style>
    </head>
    <body>
        <div id="todoPanel" ng-controller="defaultCtrl">
            <h3 class="page-header">To Do List</h3>

            <div class="row well">
                <div class="col-xs-6" ng-repeat="(key, val) in settings">
                    <h4>{{key}}</h4>
                    <div class="radio" ng-repeat="button in buttonNames">
                        <label>
                            <input type="radio" ng-model="settings[key]" value="{{button}}">{{button}}/>
                        </label>
                    </div>
                </div>
            </div>

            <table class="table ">
                <thead>
                <th>#</th>
                <th>Action</th>
                <th>Done</th>
                </thead>
                <tr ng-repeat="item in todos" ng-class="settings.Rows">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td ng-style="{'background-color':settings.Columns}">{{item.complete}}</td>

                </tr>
            </table>
        </div>
    </body>
</html>
