<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head><title>AnJS Objects </title>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="js/angular.js" type="text/javascript"></script>
    </head>
    <body>
        <div data-ng-app="" data-ng-init="quantity=1;price=5;">
            <h2>Cost Calculator</h2>
            Quantity: <input type="number" ng-model="quantity"/>
            Price: <input type="number" ng-model="price"/>
         <p><b>Total is dollar:{{quantity * price}}</b></p>
        </div>
      
    </body>
</html>
